.popup__copy_container-title{
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin:36px 36px 54px;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .popup__copy_container-title{
        font-size: 18px;
        line-height: 22px;
        margin:41px 22px 75px;       
    }
    
}