.popup-image__title{
    font-family: 'Inter','Arial','sans-serif';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    margin: 0;
    margin-top: 10px;
}