.popup__container{
    width:430px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin:auto;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .popup__container{
        width:282px;
        margin: auto;
    }
}