.popup__container{
    position: fixed;
    top:50%;
    left:50%;
    width:430px;
    min-height:330px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px; 
    z-index: 3;   
    margin-left: -215px;
    margin-top: -165px;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .popup__container{
        width:282px;
        min-height:322px;
        margin-left: -141px;
        margin-top: -166px;
    }
}