.popupimg__closeicon{
    transition:opacity 0.4s linear;
    background-color: rgba(0,0,0,0);
    border:none;
    align-self: flex-end;
    padding:0;
    width:32px;
    height: 32px;
    margin-top: -40px;
    margin-right: -40px;
}

.popupimg__closeicon:hover{
    opacity:0.6;
    cursor:pointer;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .popupimg__closeicon{
        margin-top:-36px;
        margin-right:0;
    }   
}