.popup__copy_input{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding:0 0 12px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: normal;
}

.popup__copy_input::placeholder{
    color:#000000;
}

