.element__deleteicon{
    width:18px;
    padding:0;
    background-color: rgba(0,0,0,0);
    border:none;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    align-self: start;
    margin-top: 20px;
    margin-right:20px;
    transition:opacity 0.4s linear;
}

.element__deleteicon:hover{
    opacity:0.6;
    cursor:pointer;
}