.element__rectangle-heart{
    width:22px;
    border:none;
    padding:0;
    background-color: #ffffff;
    transition:opacity 0.4s linear;
    margin-right: 15px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.element__rectangle-heart:hover{
    opacity:0.6;
    cursor:pointer;
}