.popupcopy__input{
    border:none;
    width:83%;
    margin:0 36px 30px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding:0 0 12px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: normal;
}

.popupcopy__input::placeholder{
    color:#000000;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .popupcopy__input{
        margin:0 22px 30px;
        width:84%;
    }
}