.profile__addbutton{
    margin-left: 244px;
    width:150px;
    min-height:50px;
    background-color: rgba(0,0,0,0);
    border:2px solid #ffffff;
    transition:opacity 0.4s linear;
    border-radius: 2px;
}

.profile__addbutton:hover{
    opacity:0.6;
    cursor:pointer;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .profile__addbutton{
        margin-top:36px;
        margin-left: 0;
        width:100%;
    }
}