@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-title/profile__info-title.css);
@import url(../blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(../blocks/profile/__info-editbutton/profile__info-editbutton.css);
@import url(../blocks/profile/__info-editbutton-image/profile__info-editbutton-image.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__addbutton/profile__addbutton.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__rectangle/element__rectangle.css);
@import url(../blocks/element/__rectangle-image/element__rectangle-image.css);
@import url(../blocks/element/__rectangle-title/element__rectangle-title.css);
@import url(../blocks/element/__rectangle-heart/element__rectangle-heart.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container-title/popup__container-title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__container-button/popup__container-button.css);
@import url(../blocks/popup/__container-closeicon/popup__container-closeicon.css);
@import url(../blocks/popup/__container-closeicon-button/popup__container-closeicon-button.css);
@import url(../blocks/element/__rectangle-heart/_active/element__rectangle-heart_active.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/element/__deleteicon/element__deleteicon.css);
@import url(../blocks/element/__deleteicon-image/element__deleteicon-image.css);
@import url(../blocks/popup/_copy-input/popup_copy-input.css);
@import url(../blocks/popup/_copy-container/popup_copy-container.css);
@import url(../blocks/popup/_copy-container-title/popup_copy-container-title.css);
@import url(../blocks/popup/_copy-container-closeicon/popup_copy-container-closeicon.css);
@import url(../blocks/popup/_copy-container-closeicon-button/popup_copy-container-closeicon-button.css);
@import url(../blocks/popup/_copy-container-button/popup_copy-container-button.css);
@import url(../blocks/popup/_image-title/popup_image-title.css);
@import url(../blocks/popup/_image-picture/popup_image-picture.css);
@import url(../blocks/popup/_image-imagecontainer/popup_image-imagecontainer.css);
@import url(../blocks/popup/_image-container/popup_image-container.css);
@import url(../blocks/popup/_image-closeicon/popup_image-closeicon.css);
@import url(../blocks/popup/_image-closeicon-button/popup_image-closeicon-button.css);
@import url(../blocks/popup/__form-info/popup__form-info.css);
@import url(../blocks/popup/__input/_error/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__container-button/_disabled/popup__container-button_disabled.css);
@import url(../blocks/popup/__input_field_job/popup__input_field_job.css);