.popup__input{
    border:none;
    width:83%;
    margin:0 36px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 14px;
    line-height: 17px;
    color:#000000;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: normal;
    height:30px;
}

.popup__input:invalid{
    outline: none;
}

.popup__input:focus{
    outline: 2px solid #00BFFF;
    border-radius: 2px;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .popup__input{
        margin:0 22px 0px;
        width:84%;
    }
}