.element{
    display:grid;
    flex-direction:column;
    width:282px;
    margin-right: 17px;
    margin-bottom: 20px;
    position:relative;
    border-radius: 10px;
    background-color:#ffffff;
    grid-template-columns:250px max-content;
    grid-template-rows:max-content max-content;
}

.element:nth-child(3n){
    margin-right: 0;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .element{
        margin-right:0;
    }  
}