.profile__info-subtitle{
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color:#ffffff;
    margin:0;
    grid-row: 2/3;
    grid-column: 1/2;   
    margin-top: 16px; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .profile__info-subtitle{
        margin-top:14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;  
        grid-column: 1/3;  
    }
    
}
