.profile__info-title{
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color:#ffffff;
    margin:0;
    grid-row: 1/2;
    grid-column: 1/2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .profile__info-title{
        font-size: 27px;
        line-height: 33px;
        text-align: center;        
    }
    
}