.popup_copy_container-button{
    margin:45px 36px 37px;
    width: 83%;
    background-color:#000000;
    border-radius: 2px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    min-height:50px;
    transition:opacity 0.4s linear;   
}

.popup_copy_container-button:hover{
    opacity:0.8;
    cursor:pointer;
}

@media screen and (min-width:320px) and (max-width:1279px) {
    .popup_copy_container-button{
        margin:15px 22px 25px;
        font-size: 14px;
        line-height: 17px;
        width:84%;
        min-height: 46px;  
    } 
}